/* These settings are for the cryptocurrency donation QR codes and info on the
 * main page. */
.qr { max-width: 150px ; padding: 10px; border: none; }
.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.cryptoinfo code,.crypto {
	font-size: small ;
	overflow-wrap: break-word ;
}
